.pck-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-width: 372px;
  min-width: 372px;
}

.pck-title,
.pck-form-title {
  font-weight: 600;
  text-align: center;
}

.pck-title {
  font-size: 1.5rem;
  margin-bottom: var(--space-8px);
}

.pck-form-title {
  font-size: var(--space-14px);
  text-align: start;
  height: 32px;
  display: flex;
  align-items: center;
}

.pck-form {
  display: flex;
  flex-direction: column;
  gap: var(--space-16px);
  width: 100%;
  padding: var(--space-16px) var(--space-8px);
  font-size: var(--space-12px);
}

.pck-form-number {
  display: flex;
  gap: 12px;
  width: 100%;
}

.pck-form-number > * {
  flex: 1;
  min-width: 0;
}
