.Button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: var(--space-8px);
  padding: var(--space-16px) var(--space-12px);
  font-size: 14px;
  font-weight: var(--font-w-medium);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: var(--space-8px);
  border: none;
  background: transparent;
}

.Button:hover {
  transform: scale(1.05);
}

.Button.icon {
  border: none;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  border-radius: var(--space-4px);
  background-color: transparent;
  padding: var(--space-4px);
}

.Button.headerIcon {
  border: none;
  align-items: center;
  width: 100%;
  max-width: var(--space-40px);
  justify-content: center;
  border-radius: var(--space-8px);
  background-color: var(--primary-5);
  padding: var(--space-8px);
}

.Button.headerIcon:hover {
  background-color: var(--background-primary);
}

.Button.text {
  display: flex;
  justify-content: flex-start;
  background: transparent;
  border: none;
}

.Button.text span {
  color: var(--primary-4);
  font-weight: var(--font-w-regular);
  font-size: 14px;
}

.Button.filled {
  background-color: var(--primary-3);
  border: 1px solid var(--primary-3);
  border-radius: var(--space-8px);

  span {
    color: var(--neutral-6);
  }
}

.Button.info {
  background-color: var(--primary-2);
  border: 1px solid var(--primary-2);
  border-radius: var(--space-8px);

  span {
    color: var(--neutral-6);
  }
}

@media (max-width: 640px) {
  .Button span {
    font-size: var(--space-16px);
    font-weight: var(--font-w-regular);
  }
}
