.Button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: var(--space-8px);
  padding: var(--space-8px) var(--space-12px);
  font-size: 14px;
  font-weight: var(--font-w-medium);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: var(--space-8px);
  border: none;
  background: transparent;
}

.Button:hover {
  transform: scale(1.05);
}

.Button.icon {
  padding: 8px;
  background: transparent;
  border: none;
  color: var(--neutral-1);
}

.Button.text {
  background: transparent;
  border: none;
}

.Button.text .Button-text {
  color: var(--primary-4);
  font-weight: var(--font-w-medium);
  font-size: 14px;
}

.Button.filled {
  background-color: var(--primary-3);
  border: 1px solid var(--primary-3);
  border-radius: var(--space-16px);
  /* borda mais arredondada */
}

.Button.filled .Button-text {
  color: var(--neutral-6);
}