.Button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: var(--font-w-medium);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: var(--space-8px);
  border: none;
  background: transparent;
}

.Button:hover {
  transform: scale(1.05);
}

.Button.icon {
  border: none;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  border-radius: var(--space-4px);
  background-color: transparent;
  padding: var(--space-4px);
  gap: var(--space-8px);

  span {
    color: var(--neutral-1);
  }
}

.Button.headerIcon {
  border: none;
  align-items: center;
  width: 100%;
  max-width: var(--space-40px);
  justify-content: center;
  border-radius: var(--space-8px);
  background-color: var(--primary-5);
  padding: var(--space-8px);
}

.Button.headerIcon:hover {
  background-color: var(--background-primary);
}

.Button.text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  border: none;
  width: auto;
  gap: 0;
  padding: 0;
  box-shadow: none;
}

.Button.text span {
  color: var(--primary-4);
  font-weight: var(--font-w-regular);
  font-size: 14px;
}
.Button.filled {
  background-color: var(--primary-3);
  border: 1px solid var(--primary-3);
  border-radius: var(--space-8px);
  padding: var(--space-12px);

  span {
    color: var(--neutral-6);
  }
}

.Button.info {
  background-color: var(--primary-2);
  border: 1px solid var(--primary-2);
  border-radius: var(--space-8px);

  span {
    color: var(--neutral-6);
  }
}
.Button.icon_info {
  position: relative;
  border: 1px solid var(--neutral-4);
  background-color: var(--background-color-light);
  border-radius: var(--space-12px);
  width: 100%;
  height: 48px;
  padding: 0 var(--space-8px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-8px);
  cursor: pointer;
  color: var(--primary-3);
}

.Button.icon_info .Button-icon {
  position: absolute;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) {
  .Button span {
    font-size: var(--space-16px);
    font-weight: var(--font-w-regular);
  }
}
