.Button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: var(--space-8px);
  padding: var(--space-8px) var(--space-12px);
  font-size: 14px;
  font-weight: var(--font-w-medium);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: var(--space-8px);
  border: none;
  background: transparent;
}

.Button:hover {
  transform: scale(1.05);
}

.Button.icon {
  background: transparent;
  border: none;
  padding: 8px;
}

.Button.text {
  background: transparent;
  border: none;
  width: auto;
  padding: 0;
}

.Button.text span {
  color: var(--primary-4);
  font-weight: var(--font-w-medium);
  font-size: 14px;
}
.Button.filled {
  background-color: var(--primary-3);
  border: 1px solid var(--primary-3);

  span {
    color: var(--white);
  }
}

.Button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.Button-text {
  font-size: 14px;
}
