.tag-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-2);
  border-radius: var(--space-12px);
  padding: var(--space-4px) var(--space-8px);
  color: var(--primary-2);
  font-size: var(--space-12px);
  gap: var(--space-4px);
  height: var(--space-32px);
}

.tag-main {
  display: flex;
  align-items: center;
  gap: 6px;
}

.tag-controls-column {
  display: flex;
  flex-direction: column;
}

.tag-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: none;
  color: var(--primary-2);

  width: var(--space-12px);
  height: var(--space-12px);
  cursor: pointer;
}

.tag-remove {
  margin-left: var(--space-4px);
  cursor: pointer;
  color: var(--primary-2);
}
.tag-label {
  font-size: var(--space-12px);
  color: var(--primary-2);
  font-weight: var(--font-w-regular);
}
