.use-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: var(--space-8px);
}

.use-form {
  display: flex;
  width: 400px;
  padding: var(--space-8px) var(--space-16px);
  flex-direction: column;
}

.image-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.image-preview {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--neutral-4);
}

.image-placeholder {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: var(--neutral-6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-3);
  font-weight: bold;
  font-size: 18px;
  border: 2px dashed var(--neutral-4);
}

.form-footer {
  display: flex;
  margin-top: auto;
  padding-top: var(--space-16px);
}
