.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-8px);
  width: 100%;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: var(--space-8px);
  cursor: pointer;
  font-size: var(--space-14px);
  font-weight: var(--font-w-medium);
  color: var(--neutral-dark);
}

.checkbox-field {
  display: none;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 2px solid var(--black);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: var(--primary-2);
}
