@import "tailwindcss";

/* Variáveis de cores e fontes */
:root {
  /* cores */
  --primary-1: #c0e0ff;
  --primary-2: #198cff;
  --primary-3: #0063c7;
  --primary-4: #003d7a;
  --secondary-1: #24fec1;
  --secondary-2: #00d6e1;
  --secondary-3: #00c4ff;
  --secondary-4: #8f98ff;
  --neutral-1: #424b5a;
  --neutral-2: #b5bdc7;
  --neutral-3: #939393;
  --neutral-4: #ededed;
  --neutral-5: #464255;
  --neutral-light: #cecece;
  --neutral-dark: #2d2d2d;
  --neutral-danger: #f33060;
  --success: #0ce07a;
  --error: #ff0000;
  --warning: #ffd211;
  --black: #000000;
  --white: #ffffff;

  --background-color-light: rgba(224, 242, 254, 0.9);
  --background-color-green: rgba(31, 244, 173, 0.2);
  --background-color-blue-light: rgba(28, 140, 252, 0.2);
  --background-color-blue: rgba(2, 132, 199, 0.9);

  /* Espaço */
  --space-4px: 0.25rem;
  --space-8px: 0.5rem;
  --space-12px: 0.75rem;
  --space-16px: 1rem;
  --space-20px: 1.25rem;
  --space-24px: 1.5rem;
  --space-28px: 1.75rem;
  --space-32px: 2rem;
  --space-36px: 2.25rem;
  --space-40px: 2.5rem;
  --space-44px: 2.75rem;
  --space-48px: 3rem;
  --space-52px: 3.25rem;
  --space-56px: 3.5rem;
  --space-60px: 3.75rem;
  --space-64px: 4rem;
  --space-68px: 4.25rem;
  --space-72px: 4.5rem;
  --space-76px: 4.75rem;
  --space-80px: 5rem;
  --space-84px: 5.25rem;
  --space-88px: 5.5rem;
  --space-92px: 5.75rem;
  --space-96px: 6rem;
  --space-100px: 6.25rem;
  --space-104px: 6.5rem;
  --space-108px: 6.75rem;
  --space-112px: 7rem;
  --space-116px: 7.25rem;
  --space-120px: 7.5rem;
  --space-124px: 7.75rem;
  --space-128px: 8rem;
  --space-297px: 18.5625rem;
  --space-312px: 19.5rem;

  /* fonte */
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  /* Pesos de fonte */
  --font-w-normal: 400;
  --font-w-regular: 400;
  --font-w-medium: 500;
  --font-w-semibold: 600;
  --font-w-bold: 700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background, #ededed);
  color: var(--foreground, #000000);
  font-family: var(--font-roboto);
}

h1,
h2,
h3 {
  font-family: var(--font-poppins);
}

h1 {
  font-size: var(--space-32px);
  font-weight: var(--font-w-semibold);
  line-height: var(--space-40px);
}

h2 {
  font-size: var(--space-24px);
  font-weight: var(--font-w-semibold);
  line-height: var(--space-32px);
}

.hidden {
  display: none;
}
