.login-desktop {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.login-background-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 1;
}

.login-background-light {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100vh;
  background-color: var(--background-secondary);
  border-top-left-radius: 30% 0%;
  border-bottom-left-radius: 50% 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 40px 20px;
}

.login-light-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-logo {
  width: 80px;
  margin-bottom: 20px;
}

.login-app-title {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-3);
}

.login-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 400px;
  height: 547px;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: var(--white);
  padding: 60px 32px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
