.client-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: var(--space-12px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: var(--space-12px) var(--space-16px);
  gap: var(--space-16px);
  width: 100%;
  max-width: 676px;
}

@media (min-width: 370px) {
  .client-card {
    flex-direction: row;
    max-width: 100%;
  }
}

.client-image {
  position: relative;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  border-radius: var(--space-8px);
  overflow: hidden;
}

.client-img {
  object-fit: cover;
  border-radius: var(--space-8px);
}

.client-info {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: var(--space-16px);
}

.client-trigger {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4var (--space-4px);
  border-radius: var(--space-8px);
  background: transparent;
  border: none;
  cursor: pointer;
}

.client-trigger:hover {
  background-color: var(--background-color-light);
}

.client-name {
  font-size: 1rem;
  font-weight: var(--font-w-bold);
  color: var(--primary-3);
  max-width: 289px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.client-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  color: var(--neutral-dark);
  font-weight: var(--font-w-semibold);
  gap: var(--space-4px);
}

.client-text {
  font-size: 0.75rem;
  color: var(--neutral-dark);
  font-weight: var(--font-w-normal);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.client-email {
  font-size: 0.75rem;
  color: var(--neutral-dark);
  font-weight: var(--font-w-normal);
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: var(--space-4px);
  white-space: wrap;
}

.header-name {
  display: flex;
  justify-content: space-between;
  padding-right: var(--space-8px);
  align-items: center;
}

.client-date {
  font-size: 0.875rem;
  font-weight: var(--font-w-semibold);
  color: var(--primary-3);
  margin-right: var(--space-8px);
}

.client-status {
  margin-left: var(--space-8px);
  padding: 2px 6px;
  border-radius: var(--space-4px);
  font-size: 0.7rem;
  font-weight: var(--font-w-semibold);
  text-transform: capitalize;
}
