.contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--space-8px);
}

.form-fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-8px);
}

.form-footer {
  margin-top: auto;
  padding-top: var(--space-8px);
}

.contact-header {
  background-color: var(--foreground);
  padding: var(--space-8px) 0;
  display: flex;
  align-items: center;
  position: relative;
}

.back-contact-button {
  display: flex;
  align-items: center;
  gap: var(--space-8px);
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.2s ease;
}

.desktop-contact {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.background-contact-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: var(--background-secondary);
  border-top-right-radius: 30% 0%;
  border-bottom-right-radius: 50% 100%;
  border-top-left-radius: var(--space-8px);
  border-bottom-left-radius: var(--space-8px);
  z-index: 2;
}

.background-contact-light {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: var(--secondary-3);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 50px;
  border-top-right-radius: var(--space-8px);
  border-bottom-right-radius: var(--space-8px);
}

.light-contact-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app-contact-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--white);
}

.form-contact-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-top-left-radius: var(--space-8px);
  border-bottom-left-radius: var(--space-8px);
  padding: var(--space-32px);
  height: 100%;
  z-index: 3;
}
