.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
}

.ButtonIcon {
  display: block;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}


span {
  font-size: var(--space-12px);
  color: var(--neutral-5);
  font-weight: var(--font-w-semibold);
}

.active-label {
  color: var(--primary-2);
}
