.mobile-login {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-16px);
  overflow: hidden;
}

.header-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--space-24px);
  padding: var(--space-16px);
}

.logo-mobile {
  width: var(--space-40px);
  max-width: 150px;
  margin-bottom: var(--space-16px);
}

.app-title-mobile {
  font-size: var(--space-24px);
  /* 1.5rem */
  font-weight: var(--font-w-bold);
  color: var(--primary-3);
  text-align: center;
}

.form-container-mobile {
  width: 90%;
}

@media (max-width: 480px) {
  .logo-mobile {
    width: var(--space-32px);
  }

  .app-title-mobile {
    font-size: var(--space-20px);
  }

  .form-container-mobile {
    width: 95%;
  }
}