.search-input {
  width: 100%;
  height: var(--space-44px);
  padding: var(--space-8px) var(--space-12px);
  font-size: 14px;
  color: var(--neutral-dark);
  background-color: var(--color-white);
  border: 1px solid var(--neutral-4);
  border-radius: var(--space-8px);
  outline: none;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

.search-input::placeholder {
  color: var(--neutral-light);
  font-style: italic;
}

.search-input:focus {
  border-color: var(--primary-2);
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}
