.mult-select-tag-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-8px);
  position: relative;
  min-height: var(--space-40px);
}

.mult-tags-container {
  display: flex;
  width: 100%;
  height: var(--space-36px);
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-4px);
}

.mult-tag {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-2);
  border-radius: var(--space-8px);
  padding: var(--space-4px) var(--space-12px);
  font-size: var(--space-12px);
  color: var(--primary-2);
  white-space: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  box-sizing: border-box;
}

.mult-tag-remove {
  margin-left: var(--space-8px);
  cursor: pointer;
  font-weight: bold;
  font-size: var(--space-16px);
  color: var(--primary-2);
  transition: color 0.2s;
}

.mult-tag-remove:hover {
  color: var(--error);
}

.mult-select-row {
  display: flex;
  width: 100%;
  position: relative;
}

.mult-select-tag {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  appearance: none;
  color: var(--primary-2);
  flex: 1;
}

.mult-select-row:focus {
  outline: none;
}

.mult-custom-arrow {
  position: absolute;
  right: var(--space-8px);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--primary-2);
  display: flex;
  align-items: center;
}

.mult-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-4px);
  padding: var(--space-4px);
}

.mult-input-label {
  display: block;
  font-size: var(--space-14px);
  font-weight: var(--font-w-semibold);
  color: var(--neutral-dark);
}

.mult-input-error {
  font-size: var(--space-12px);
  font-weight: var(--font-w-regular);
  color: var(--error);
}
