.scheduling-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: var(--space-12px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: var(--space-12px) var(--space-16px);
  gap: var(--space-16px);
  width: 100%;
  height: 94px;
  max-width: 676px;
  box-sizing: border-box;
  cursor: pointer;
}

.scheduling-image {
  position: relative;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: var(--space-8px);
  overflow: hidden;
}

.scheduling-img {
  object-fit: cover;
  border-radius: var(--space-8px);
  width: 100%;
  height: 100%;
}

.scheduling-info {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: var(--space-16px);
  min-width: 0;
}
.scheduling-text,
.scheduling-name,
.scheduling-email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scheduling-trigger {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4 var(--space-4px);
  border-radius: var(--space-8px);
  background: transparent;
  border: none;
  cursor: pointer;
}

.scheduling-trigger:hover {
  background-color: var(--background-color-light);
}

.scheduling-name {
  font-size: 1rem;
  font-weight: var(--font-w-bold);
  color: var(--primary-3);
  max-width: 289px;
}

.scheduling-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  color: var(--neutral-dark);
  font-weight: var(--font-w-semibold);
  gap: var(--space-4px);
}

.scheduling-text {
  font-size: 0.75rem;
  color: var(--neutral-dark);
  font-weight: var(--font-w-regular);
  max-width: 100%;
}

.scheduling-email {
  font-size: 0.75rem;
  color: var(--neutral-dark);
  font-weight: var(--font-w-regular);
  max-width: 129px;
  padding-right: var(--space-4px);
}

.header-name {
  display: flex;
  justify-content: space-between;
  padding-right: var(--space-8px);
  align-items: center;
}

.scheduling-date {
  font-size: 0.875rem;
  font-weight: var(--font-w-semibold);
  color: var(--primary-3);
  margin-right: var(--space-8px);
}

.scheduling-status {
  margin-left: var(--space-8px);
  padding: 2px 6px;
  border-radius: var(--space-4px);
  font-size: 0.7rem;
  font-weight: var(--font-w-semibold);
  text-transform: capitalize;
}

@media (max-width: 640px) {
  .cards-container {
    overflow-x: auto;
    display: flex;
    gap: var(--space-16px);
  }
}

@media (min-width: 370px) {
  .scheduling-card {
    flex-direction: row;
    max-width: 100%;
  }
}
