.box-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
  position: relative;
}
.content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}
.background-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: var(--background-secondary);
  border-top-right-radius: 30% 0%;
  border-bottom-right-radius: 50% 100%;
  border-top-left-radius: var(--space-8px);
  border-bottom-left-radius: var(--space-8px);
  z-index: 2;
}
.background-light {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: var(--secondary-3);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 50px;
  border-top-right-radius: var(--space-8px);
  border-bottom-right-radius: var(--space-8px);
}
.light-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.app-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--white);
}
.container-form {
  display: flex;
  width: 100%;
  max-width: 379px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  background-color: var(--color-white);
  border-top-left-radius: var(--space-8px);
  border-bottom-left-radius: var(--space-8px);
  z-index: 3;
}
