.client-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: white;
  border-radius: var(--space-12px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: var(--space-8px) var(--space-16px);
  gap: var(--space-16px);
  width: 100%;
  box-sizing: border-box;
}

.client-image {
  position: relative;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: var(--space-8px);
  overflow: hidden;
}

.client-img {
  object-fit: cover;
  border-radius: var(--space-8px);
  width: 100%;
  height: 100%;
}

.client-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.client-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.client-name {
  font-size: 1rem;
  font-weight: var(--font-w-bold);
  color: var(--primary-3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.client-trigger {
  background: transparent;
  border: none;
  cursor: pointer;
}

.client-details {
  display: flex;
  flex-direction: column;
}

.client-title {
  font-size: 0.75rem;
  color: var(--neutral-dark);
  font-weight: var(--font-w-regular);
  display: flex;
  align-items: center;
  font-weight: 600;
  white-space: normal;
}

.client-text,
.client-email {
  font-size: 0.75rem;
  color: var(--neutral-dark);
  font-weight: var(--font-w-regular);
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 var(--space-4px);
}

@media (min-width: 370px) {
  .client-card {
    flex-direction: row;
    max-width: 369px;
  }
}
