.contact-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  border-radius: var(--space-8px);
}

.contact-form {
  display: flex;
  width: 100%;
  padding: var(--space-8px) var(--space-16px);
  flex-direction: column;
}

.contact-form-fields {
  display: flex;
  flex-direction: column;
  gap: var(--space-12px);
}
.contact-error {
  color: var(--error);
  margin-top: var(--space-12px);
  font-size: 14px;
}

.image-preview-contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview-contact {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--neutral-4);
}

.image-placeholder-contact {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: var(--neutral-6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-3);
  font-weight: bold;
  font-size: 18px;
  border: 2px dashed var(--neutral-4);
}

.file-input-contact {
  display: block;
  margin: 0 auto 8px auto;
}

.contact-form-footer {
  display: flex;
  margin-top: auto;
  margin-top: var(--space-16px);
}
