.contact-page {
  display: flex;
  flex-direction: column;
  border-radius: var(--space-8px);
}

.contact-form {
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: var(--space-4px);
}

.contact-error {
  color: var(--error);
  margin-top: var(--space-12px);
  font-size: 14px;
}

.image-preview-contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.image-preview-contact {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.image-placeholder-contact {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  font-weight: bold;
  font-size: 18px;
  border: 2px dashed #ccc;
}

.file-input-contact {
  display: block;
  margin: 0 auto 8px auto;
}
