.popup-container {
  position: relative;
  display: inline-block;
}

.popup-trigger {
  cursor: pointer;
}

.popup-content {
  position: absolute;
  right: 0;
  margin-top: var(--space-8px);
  width: 200px;
  background: var(--color-white);
  border: 1px solid var(--neutral-2);
  border-radius: var(--space-12px);
  box-shadow: 0 var(--space-4px) var(--space-8px) rgba(0, 0, 0, 0.1);
  padding: var(--space-8px);
  z-index: 1000;
}

.status-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.status-btn {
  padding: var(--space-8px) var(--space-12px);
  border: none;
  border-radius: var(--space-4px);
  cursor: pointer;
  font-weight: bold;
  margin-bottom: var(--space-4px);
  width: 100%;
  text-align: left;
}

.btn-gray {
  background-color: var(--neutral-light);
  color: var(--neutral-dark);
}

.btn-blue {
  background-color: var(--primary-3);
  color: var(--color-white);
}

.btn-green {
  background-color: var(--secondary-2);
  color: var(--color-white);
}
.btn-red {
  background-color: var(--error);
  color: var(--color-white);
}

.status-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.status-btn:hover {
  background-color: var(--neutral-4);
  color: var(--neutral-dark);
}
